@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #8e6526 !important;
}
.bg-success {
  background-color: #41a85f !important;
}
.bg-info {
  background-color: #3d8eb9 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f97352 !important;
}
.btn-primary {
  background-color: #8e6526;
  border-color: #8e6526;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #523a16;
  border-color: #523a16;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #523a16 !important;
  border-color: #523a16 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-success {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f97352;
  border-color: #f97352;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #f63709;
  border-color: #f63709;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f63709 !important;
  border-color: #f63709 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #3e2c10;
  color: #3e2c10;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #8e6526;
  border-color: #8e6526;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8e6526 !important;
  border-color: #8e6526 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #dd3208;
  color: #dd3208;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f97352;
  border-color: #f97352;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f97352 !important;
  border-color: #f97352 !important;
}
.text-primary {
  color: #8e6526 !important;
}
.text-success {
  color: #41a85f !important;
}
.text-info {
  color: #3d8eb9 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f97352 !important;
}
.alert-success {
  background-color: #41a85f;
}
.alert-info {
  background-color: #3d8eb9;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f97352;
}
.btn-social {
  border-color: #8e6526;
}
.btn-social:hover {
  background: #8e6526;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #8e6526;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #8e6526;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #8e6526;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #8e6526;
}
.lead a,
.lead a:hover {
  color: #8e6526;
}
.lead blockquote {
  border-color: #8e6526;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d4a65f;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #8e6526;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#ext_menu-0 .navbar-toggler {
  color: #2e1e06;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #2e1e06;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #2e1e06;
}
#ext_menu-0 .link {
  font-size: 0.75rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #8e6526;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #fbd652;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #fcde75!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #fce284;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #2e1e06;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #8e6526;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #8e6526!important;
}
#header2-b .mbr-section-title {
  font-size: 48px;
}
#header2-b .btn {
  font-size: 14px;
}
#msg-box8-8 .mbr-section-title,
#msg-box8-8 p {
  color: #fff;
}
#msg-box8-8 .mbr-section-title {
  color: #2e1e06;
  font-size: 46px;
}
#msg-box8-8 .lead P {
  color: #fce284;
}
#msg-box5-9 P {
  color: #fce284;
  font-family: 'Oxygen', sans-serif;
  font-size: 19px;
}
#msg-box5-9 B {
  color: #f7da64;
}
#testimonials1-e .mbr-section-title SPAN {
  font-size: 46px;
  color: #8e6526;
}
#testimonials1-e .mbr-section-subtitle {
  color: #bc9250;
}
#form1-5 .form-control-label {
  color: #efefef;
}
#form1-5 .mbr-section-title {
  color: #ffffff;
}
#form1-5 SMALL {
  color: #efefef;
}
#form1-5 .mbr-section-title SPAN {
  font-size: 46px;
}
#social-buttons4-d .mbr-section-title,
#social-buttons4-d .btn-social {
  color: #fff;
}
#social-buttons4-d .mbr-section-title {
  font-size: 8px;
}
#contacts1-c P {
  font-size: 13px;
  color: #fce284;
}
#contacts1-c STRONG {
  color: #bc9250;
}
#contacts1-c B {
  color: #bc9250;
}
#footer1-3 P {
  color: #fce284;
}













#ext_menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-f .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#ext_menu-f .navbar-toggler {
  color: #2e1e06;
}
#ext_menu-f .close-icon::before,
#ext_menu-f .close-icon::after {
  background-color: #2e1e06;
}
#ext_menu-f .link,
#ext_menu-f .dropdown-item {
  color: #2e1e06;
}
#ext_menu-f .link {
  font-size: 0.75rem;
}
#ext_menu-f .dropdown-item,
#ext_menu-f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-f .link:hover,
#ext_menu-f .dropdown-item:hover,
#ext_menu-f .link:focus,
#ext_menu-f .dropdown-item:focus {
  color: #8e6526;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-menu {
  background: #fbd652;
}
#ext_menu-f .nav-dropdown-sm .link:focus,
#ext_menu-f .nav-dropdown-sm .link:hover,
#ext_menu-f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #fcde75!important;
}
#ext_menu-f .navbar,
#ext_menu-f .nav-dropdown-sm,
#ext_menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-f .nav-dropdown-sm .dropdown-menu {
  background: #fce284;
}
#ext_menu-f .bg-color.transparent .link {
  color: #2e1e06;
  transition: none;
}
#ext_menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-f .bg-color.transparent.opened .link:hover,
#ext_menu-f .bg-color.transparent.opened .link:focus {
  color: #8e6526;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-item[aria-expanded="true"] {
  color: #8e6526!important;
}
#msg-box8-o .mbr-section-title,
#msg-box8-o p {
  color: #fff;
}
#content2-p SPAN {
  color: #8e6526;
}
#content1-q P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-r SPAN {
  color: #8e6526;
}
#content1-s P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-t SPAN {
  color: #8e6526;
}
#content1-u P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-v SPAN {
  color: #8e6526;
}
#content1-w P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-x SPAN {
  color: #8e6526;
}
#content1-y P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-z SPAN {
  color: #8e6526;
}
#content1-10 P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-11 SPAN {
  color: #8e6526;
}
#content1-12 P {
  font-family: 'PT Sans', sans-serif;
  color: #8e6526;
}
#content2-13 SPAN {
  color: #8e6526;
}
#content1-14 P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
  text-align: left;
}
#content2-15 SPAN {
  color: #8e6526;
}
#content1-16 P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-17 SPAN {
  color: #8e6526;
}
#content1-18 P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#content2-19 BLOCKQUOTE {
  color: #8e6526;
}
#content1-1a P {
  color: #2e1e06;
  font-family: 'PT Sans', sans-serif;
}
#content1-1b P {
  color: #8e6526;
  font-family: 'PT Sans', sans-serif;
}
#social-buttons4-l .mbr-section-title,
#social-buttons4-l .btn-social {
  color: #fff;
}
#social-buttons4-l .mbr-section-title {
  font-size: 8px;
}
#contacts1-m P {
  font-size: 13px;
  color: #fce284;
}
#contacts1-m STRONG {
  color: #bc9250;
}
#contacts1-m B {
  color: #bc9250;
}
#footer1-n P {
  color: #fce284;
}


#ext_menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1c .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#ext_menu-1c .navbar-toggler {
  color: #2e1e06;
}
#ext_menu-1c .close-icon::before,
#ext_menu-1c .close-icon::after {
  background-color: #2e1e06;
}
#ext_menu-1c .link,
#ext_menu-1c .dropdown-item {
  color: #2e1e06;
}
#ext_menu-1c .link {
  font-size: 0.75rem;
}
#ext_menu-1c .dropdown-item,
#ext_menu-1c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1c .link:hover,
#ext_menu-1c .dropdown-item:hover,
#ext_menu-1c .link:focus,
#ext_menu-1c .dropdown-item:focus {
  color: #8e6526;
}
#ext_menu-1c .link[aria-expanded="true"],
#ext_menu-1c .dropdown-menu {
  background: #fbd652;
}
#ext_menu-1c .nav-dropdown-sm .link:focus,
#ext_menu-1c .nav-dropdown-sm .link:hover,
#ext_menu-1c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #fcde75!important;
}
#ext_menu-1c .navbar,
#ext_menu-1c .nav-dropdown-sm,
#ext_menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #fce284;
}
#ext_menu-1c .bg-color.transparent .link {
  color: #2e1e06;
  transition: none;
}
#ext_menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1c .bg-color.transparent.opened .link:hover,
#ext_menu-1c .bg-color.transparent.opened .link:focus {
  color: #8e6526;
}
#ext_menu-1c .link[aria-expanded="true"],
#ext_menu-1c .dropdown-item[aria-expanded="true"] {
  color: #8e6526!important;
}
#msg-box8-1d .mbr-section-title,
#msg-box8-1d p {
  color: #fff;
}
#content2-1e SPAN {
  color: #8e6526;
}
#content1-1f P {
  font-family: 'PT Sans', sans-serif;
  color: #2e1e06;
}
#social-buttons4-21 .mbr-section-title,
#social-buttons4-21 .btn-social {
  color: #fff;
}
#social-buttons4-21 .mbr-section-title {
  font-size: 8px;
}
#contacts1-22 P {
  font-size: 13px;
  color: #fce284;
}
#contacts1-22 STRONG {
  color: #bc9250;
}
#contacts1-22 B {
  color: #bc9250;
}
#footer1-23 P {
  color: #fce284;
}
